.sidebar {
  position: fixed;
  width: 100%;
  max-width: 255px;
  padding-bottom: 100vh;
  height: auto;
  color: #fff;
  background-color: #363740;
  border-radius: 5px;
}
.sidebar__logo-img {
  width: 180px;
  height: 32px;
  padding: 37px 43px 59px 32px;
}
